<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= "DiceDex" %></title>
</head>
<header>
  <nav class="nav">
    <div class="navTitle">
      <img height="50" id="avatarPhoto" src="/images/dice.png">
    </div>
    <div class="navTitle">DiceDex.io (eventually)</div>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link"  href="/">Library</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="/games/wishlists">Wishlist</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="/games/brings">Bring</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="/votes/index">Vote</a>
      </li>
    </ul>
    <div>
      <form action="/games/new" method="GET">
        <input id="search" type="text" placeholder="Board Game Search">
        <input id="searchButton" type="submit" value="Submit">
      </form>
    </div>
  </nav>
</header>
<body>
  <main>