<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css'>
  <script async src="https://cse.google.com/cse.js?cx=162dbd6fb9ab74aab"></script>
  <title><%= "Dicedex" %></title>
</head>
<header>
  <nav class="nav">
    <% if (user) { %>
    <div class="navTitle">
      <img height="50" src="/images/dice.png">
    </div>
    <div class="navTitle">DiceDex.io (eventually)</div>
    <div id="search">
    <div class="gcse-search"></div>
    </div>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link"  href="/games">Library</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="/wishlists/index">Wishlist</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="/brings/index">Comments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="/votes/index">Vote</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="/auth/logout">Logout</a>
      </li>
    <% } else { %>
      <div class="navTitle">
        <img height="50" src="/images/dice.png">
      </div>
      <div class="navTitle">DiceDex.io (eventually)</div>
      <li class="nav-item">
        <a class="nav-link" href="/auth/google">Login with Google</a>
      </li>
    <% } %>
    </ul>
    
  </nav>
</header>
<body>
  <main>