.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

/* After Template: */
body {
  font-family: 'Roboto', sans-serif;
}

.nav {
  margin: 0 auto;
  align-items: center;
  text-align: center;
  background-color: slategrey;
}

.nav-item {
  padding: 10px;
}

.nav-link {
  color: darkgrey;
}

.navTitle {
  font-size: 20px;
}

#search {
  background-color: black;
  border: none;
  border-radius: 5px;
  color: white;
  width: 250px;
  padding: 5px;
}

#searchButton {
  background-color: darkgrey;
  border: none;
  border-radius: 5px;
  padding: 5px;
}



