.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}
.loginBox {
  margin: 0 auto;
  margin-top: 200px;
  height: 300px;
  width:200px;
  background-color: slategrey;
  border-width: 5px;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
}

.logText {
  font-size: 20px;
  color: yellow;
  }

/* After Template: */
body {
  font-family: 'Roboto', sans-serif;
  margin:0 auto;
}

.main {
  position: relative;
  text-align: center;
}


.nav {
  margin: 0 auto;
  align-items: center;
  text-align: center;
  background-color: slategrey;
}

.nav-item {
  padding: 10px;
}

.nav-link {
  color: yellow;
}

.navTitle {
  font-size: 20px;
}

#search {
  width: 400px;
  margin: 5px;
}

.label {
  font-size: 20px;
}

.addButton {
  background-color: #444444;
  color:#999999;
  border-radius: 2px;
  border: none;
  padding: 5px;
}

.card {
  margin: 0 auto;

}



