<%- include('../partials/header') %>

<br>
<h1>Welcome to DiceDex</h1>
<div class="card-body" style="width: 18rem;">
  <div class="card-title">
    <h3 id="loginUsers">Registered Users:</h3>
    <% users.forEach(u => { %>
  
      <div><%= u.name %></div>
    <% }) %>
  </div>
</div>

<%- include('../partials/footer') %>